<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
    {% for a_page in pages %}
        {{ a_page.section.section_text}}<br/>
        {{ a_page.page_header }}<br/>
        {% for sub_page in sub_pages %}
            {% if sub_page.page.id == a_page.id %}
                {{ sub_page.sub_page_header }}<br/>
                {% for question in questions %}
                     {% if question.sub_page.id == sub_page.id %}
                         {{ question.question_text }}<br/>
                         {% for response in responses %}
                             {% if response.question.id == question.id %}
                                 {{ response.response_text }}<br/>
                             {% endif %}
                         {% endfor %}
                     {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
                <a href="?page={{ pages.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}
            </span>

            {% if pages.has_next %}
                <a href="?page={{ pages.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>